<!DOCTYPE html>
<html>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
      var player,vId="O9e-bh1PI3M";
      $(document).on("click", ".play-button", function(){
          var input = $(".link-input").val();
          var vId = input.split("=")[1];
          console.log(vId);
          (function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
              height: '50%',
              width: '100%',
              videoId: vId,
              events: {
                'onStateChange': onPlayerStateChange
              }
            });
          }());
    
    
          function onPlayerReady(event) {
            event.target.playVideo();
          }
    
          // 5. The API calls this function when the player's state changes.
          //    The function indicates that when playing a video (state=1),
          //    the player should play for six seconds and then stop.
          var done = false;
          function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
              setTimeout(stopVideo, 6000);
              done = true;
            }
          }
          function stopVideo() {
            player.stopVideo();
          }
          $.ajax({
            method: "GET",
            url: "/id",
            data: {
              url: vId,
            },
            success: data=> {
              // console.log(data);
            }
          })
        })
        function record(){
            window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
            let finalTranscript = '';
            let recognition = new window.SpeechRecognition();
            
            recognition.start();
            recognition.interimResults = true;
            recognition.maxAlternatives = 10;
            recognition.continuous = true;

            let finalresult = [];
            recognition.onresult = (event) => {
            let interimTranscript = '';
            for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
                let transcript = event.results[i][0].transcript;
                console.log(transcript);
                if (event.results[i] !== "") {
                finalTranscript += transcript;
                finalresult.push(transcript);
                } else {
                interimTranscript += transcript;
                }
                // finalTranscript += ' '
                console.log(finalTranscript);
                $.ajax({
                    method: "GET",
                    url: "/caption",
                    data: {
                        userDate: finalTranscript,
                        videoId: vId
                    },
                    success: data=>{
                      for(var i = 0;i<data.length; i++){
                        htmlData = '<div class="m-1"><button class="btn col seek" id='+ data.timestamp +'>'+ data.text +'</button></div>'
                        $("#transcript-result").html(htmlData);
                      }
                    }   
                })
            }            
        }
    }
    $(document).on("click", ".seek", function(){
      var seekTime = $(this).attr("id");
      player.seekTo(seekTime, true);
    })
    
        
    </script>
  <body>
        <div class="pt-4">
                <div class="form-group px-5">
                  <div class="row">
                    <div class="ml-auto mr-auto py-2">
                      <h1>Voice based video seeking</h1>
                    </div>
                  </div>
                    <input type="text" class="form-control ml-auto mr-auto row link-input" placeholder="Insert your Youtube link here">
                    <div class="row">
                        <div class="ml-auto mr-auto pt-2">
                            <button class="btn btn-primary play-button play-button">Play video</button>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row no-gutters">
          <div id="player" class="col-8 ml-3 mr-2 border border-default" style="height: 720px">
              <div class="w-100 h-100"></div>
          </div>
          <div class="col mr-3 border border-default right-panel" style="height: 720px">
              <div class="row no-gutters pt-2">
                  <div class="ml-auto mr-auto">
                    <button class="btn record-button" onclick="record()"><img src="/static/images/mic.png" alt="">Record</button>
                  </div>
                </div>
                <hr>
                <div class="m-2 mt-5 h-75 border border-defualt" id="transcript-result">
                    <div class="m-1"><button class="btn col seek" id="data.timestamp"><strong>1.20 </strong><em>Transcript text</em></button></div>
                    <div class="m-1"><button class="btn col seek" id="data.timestamp"><strong>1.20 </strong><em>Transcript text</em></button></div>
                    <div class="m-1"><button class="btn col seek" id="data.timestamp"><strong>1.20 </strong><em>Transcript text</em></button></div>
                    <div class="m-1"><button class="btn col seek" id="data.timestamp"><strong>1.20 </strong><em>Transcript text</em></button></div>
                    <div class="m-1"><button class="btn col seek" id="data.timestamp"><strong>1.20 </strong><em>Transcript text</em></button></div>
                    <div class="m-1"><button class="btn col seek" id="data.timestamp"><strong>1.20 </strong><em>Transcript text</em></button></div>
                </div>
          </div>
        </div>
        
    </div>
  </body>
</html>